.advantages {
    
    padding-bottom: 70px;
    background-color: #f3f3f3;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 700px;
    }
    
    &__item {
        width: 500px;
        img {
            
            margin-left: -80px;
            transform: translateY(80px);

        }   
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #ec644b;
        margin-top: 10px;
    }
    &__descr {
        margin-top: 10px;
    }
    .title {
        text-align: center;
        padding-top: 40px;
    }



}






